-e git+https://github.com/Rapptz/discord.py@rewrite#egg=discord.py
itsdangerous
requests_oauthlib
quart
websockets
aiohttp
asphalt
pyimgur
Pillow
cleverbot
python-dateutil
beautifulsoup4
ruamel.yaml
jinja2
humanize
dateparser
xmltodict
psycopg2
SQLAlchemy
asyncio_extras
tabulate
tqdm
