{% extends "masonrycards.html" %}
{% macro index_card(card_title, pic='') %}
    {# extra kwargs are placed as links in the card actions #}
    <div class="grid-item">
        <div class="card hoverable blue-grey darken-3">
            {% if pic %}
                <div class="card-image">
                    <img src="{{pic}}" style="background-color:white">
                </div>
            {% endif %}
            <div class="card-content white-text">
                <span class="card-title orange-text text-accent-2">{{card_title}}</span>
                <p class="flow-text">{{caller()}}</p>
            </div>
            {% if kwargs %}
                <div class="card-action">
                    {% for k, v in kwargs.items() %}
                        <a href="{{v}}">{{k}}</a>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
{%- endmacro %}
{% block top %}
<div class="row">
    <div class="col s12 l6" style="margin-top:30px">
        <div style="height:70%" class="card center hoverable blue-grey darken-3">
            <div class="card-image">
                <img src="/img/d/not_female.png">
            </div>
        </div>
    </div>
    <div class="col s12 l6">
        <h1>WEEABOT</h1>
        <blockquote class="flow-text">
            The general purpose discord bot designed by weebs, for weebs
        </blockquote>
        <blockquote class="flow-text">
            Twitter/Twitch integration, connected to your favorite weeb services, custom tag system, and much more
        </blockquote>
    </div>
</div>
{% endblock %}
{% block cards %}
    {% call index_card('Who', pic=ctx.bot.user.avatar_url) %}
        {{ctx.bot.greeting}} I'm {{ctx.bot.user.name}}! I'm a bot for discord written by {{ctx.bot.author.name}}.
    {% endcall %}
    {% call index_card('What', pic='https://www.python.org/static/community_logos/python-powered-w.svg') %}
        Weeabot is written in python 3.6 with discord.py.<br/><br/>
        This site serves as an easier way to browse some of the bot's content.
        Using the navigation above, you can browse tags, view commands, and find stats on users and the bot itself.
    {% endcall %}
    {% call index_card('Where', INVITE='#', GITHUB='https://github.com/Drowrin/Weeabot') %}
        I live in the 1s and 0s in the cloud.
        You can invite me to your guild, or run your very own clone of me!
    {% endcall %}
    {% call index_card('When') %}
        I've been around since the summer of 2016.<br/>
        This site was not made until the summer of 2017.<br/>
        I've been awake for {{ctx.bot.uptime}} straight!
    {% endcall %}
    {% call index_card('Why') %}
        Some things are just inconvenient to do over discord.
        Giant walls of text, awkward attempts at UI, repeated calls to commands to fish for a specific output, and so on.
        Having this information online lets me present it in whatever format I want, much more convenient!
    {% endcall %}
    {% call index_card('Security Note') %}
        In order to get the most out of this site, you'll need to authenticate through discord.
        Don't worry! The process is secure, this site never even sees your password or token.
        I simply grab your user id (which is public) and store it in cookies so I know who you are.
    {% endcall %}
{% endblock %}