<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    {% block title %}<title>Weeabot</title>{% endblock %}
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <style>
        body {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
        }
        main {
            flex: 1 0 auto;
        }
        {% block style %}{% endblock %}
    </style>
    {% block head %}{% endblock %}
</head>
<body>
<nav class="blue-grey darken-2">
    <div class="nav-wrapper">
        <a href="#" class="brand-logo center">
            <div class="valign-wrapper" style="font-weight:bold">
                WEEAB
                <img class="circle" height="30px" src="{{ ctx.bot.user.avatar_url }}">
                T
            </div>
        </a>
        <a href="#" data-activates="mobile-nav" class="button-collapse"><i class="material-icons">menu</i></a>
        {% set login %}
            {% if user is defined %}
                <li><a href="#user">{{user.name}}</a></li>
            {% else %}
                <li><a href="#"><i class="material-icons left">perm_identity</i>Login</a></li>
            {% endif %}
        {% endset %}
        <ul class="left hide-on-med-and-down">
            {% block navbuttons %}
                {% for n, a in navpages.items() %}
                    <li><a href="{{a.url}}"><i class="material-icons left">{{a.icon}}</i>{{n}}</a></li>
                {% endfor %}
            {% endblock %}
        </ul>
        <ul class="right hide-on-med-and-down">
            {{login}}
        </ul>
        <ul class="side-nav" id="mobile-nav">
            {{login}}
            <div class="divider"></div>
            {{self.navbuttons()}}
        </ul>
    </div>
</nav>

<main class="container">
    {% block body %}{% endblock %}
</main>

<footer class="page-footer blue-grey darken-3">
    <div class="footer-copyright blue-grey darken-4">
        <div class="container">
            Copyright &copy;
            <script type="text/javascript">
                document.write(new Date().getFullYear());
            </script>
        </div>
    </div>
</footer>

<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
<script>
$(document).ready(function(){
    $(".button-collapse").sideNav();
    {% block jsinit %}{% endblock %}
});
</script>
</body>
</html>